* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 578px) {
  .container {
    max-width: 500px;
  }
}

.fn-header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  position: fixed;
}

.fn-logo {
  display: flex;
  width: 30%;
  max-width: 30%;
}
.fn-logo img {
  width: 150px;
}

.fn-nav-container {
  display: flex;
  width: 70%;
  max-width: 70%;
}
.fn-nav-container .menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  margin-left: 250px;
  position: relative;
}
.fn-nav-container .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}
.fn-nav-container .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.fn-nav-container .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.fn-nav-container .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.fn-nav-container .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
.fn-nav-container .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.fn-nav-container .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
@media screen and (max-width: 578px) {
  .fn-nav-container .menu-toggle {
    display: flex;
  }
}

.fn-main-menu {
  justify-content: space-around;
  display: flex;
  margin-left: 80px;
}
.fn-main-menu .fn-menu-item {
  list-style: none;
  margin: 0 20px;
  width: 100px;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.fn-main-menu .fn-menu-item:hover {
  background: #2D487C;
  color: #FFFFFF;
}
.fn-main-menu a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.fn-main-menu a:hover {
  color: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .fn-main-menu {
    width: 50%;
  }
  .fn-main-menu .fn-menu-item {
    margin: 0;
  }
}
@media screen and (max-width: 578px) {
  .fn-main-menu {
    display: none;
  }
  .fn-main-menu .fn-main-menu {
    transform: translateX(0);
  }
  .fn-main-menu .fn-menu-item {
    justify-content: space-evenly;
  }
}

.fn-hero-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.fn-hero-main .fn-hero-left {
  margin-top: 170px;
  max-width: 50%;
  width: 50%;
  margin-top: 250px;
}
.fn-hero-main .fn-hero-left .fn-hero-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #2D487C;
}
.fn-hero-main .fn-hero-left .fn-hero-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.fn-hero-main .fn-hero-left .fn-button-primary {
  z-index: 1;
  border: none;
  width: 143px;
  height: 45px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  letter-spacing: 1px;
  animation: animasi 2s steps(70, end);
  overflow: hidden;
}
.fn-hero-main .fn-hero-left .fn-button-primary:hover {
  background: #fd6039;
}
.fn-hero-main .fn-hero-right {
  max-width: 50%;
  width: 50%;
  margin-top: 150px;
}
.fn-hero-main .fn-hero-right .fn-hero-image {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fn-hero-main .fn-hero-left {
    width: 100%;
    max-width: 100%;
    margin-top: 130px;
  }
  .fn-hero-main .fn-hero-left .fn-hero-title {
    font-size: 32px;
    line-height: 1.3em;
    margin-bottom: 12px;
  }
  .fn-hero-main .fn-hero-right {
    width: 100%;
    max-width: 100%;
    margin-top: -10px;
  }
}
@media screen and (max-width: 578px) {
  .fn-hero-main .fn-hero-left {
    width: 100%;
    max-width: 100%;
    margin-top: 150px;
  }
  .fn-hero-main .fn-hero-left .fn-hero-title {
    font-size: 23px;
    line-height: 1.3em;
    margin-bottom: 12px;
  }
  .fn-hero-main .fn-hero-right {
    width: 100%;
    max-width: 100%;
  }
}

.fn-service-main {
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.fn-service-main .fn-service-satu {
  max-width: 33%;
  width: 33%;
}
.fn-service-main .fn-service-satu .fn-servis-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  /* identical to box height */
  color: #2D487C;
}
.fn-service-main .fn-service-satu .fn-servis-decs {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.fn-service-main .fn-service-satu .fn-service-btn {
  width: 143px;
  height: 45px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
  letter-spacing: 1px;
  border: none;
  animation: animasi 2s steps(70, end);
  overflow: hidden;
}
.fn-service-main .fn-service-satu .fn-service-btn:hover {
  background: #fd6039;
}
.fn-service-main .fn-service-dua {
  max-width: 33%;
  width: 33%;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 50px;
}
.fn-service-main .fn-service-dua:hover {
  background: #F7F6F6;
}
.fn-service-main .fn-service-dua .fn-financial-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 34px;
  /* identical to box height */
  color: #4C4C4C;
}
.fn-service-main .fn-service-dua .fn-financial-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #4C4C4C;
  margin-top: 21px;
}
.fn-service-main .fn-service-dua .fn-financial-buton {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #2D487C;
  margin-top: 21px;
}
.fn-service-main .fn-service-dua .fn-financial-buton:hover {
  color: rgba(32, 30, 30, 0.5);
}
.fn-service-main .fn-service-tiga {
  max-width: 33%;
  width: 33%;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 50px;
  margin: 0 15px;
}
.fn-service-main .fn-service-tiga:hover {
  background: #F7F6F6;
}
.fn-service-main .fn-service-tiga .fn-loan-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 34px;
  /* identical to box height */
  color: #4C4C4C;
}
.fn-service-main .fn-service-tiga .fn-loan-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #4C4C4C;
  margin-top: 21px;
}
.fn-service-main .fn-service-tiga .fn-loan-buton {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #2D487C;
  margin-top: 21px;
}
.fn-service-main .fn-service-tiga .fn-loan-buton:hover {
  color: rgba(32, 30, 30, 0.5);
}
@media screen and (max-width: 768px) {
  .fn-service-main .fn-service-satu {
    max-width: 50%;
    width: 50%;
    margin: 0;
  }
  .fn-service-main .fn-service-satu .fn-servis-title {
    font-size: 18px;
  }
  .fn-service-main .fn-service-satu .fn-servis-decs {
    font-size: 14px;
    line-height: 1.2em;
  }
  .fn-service-main .fn-service-satu .fn-service-btn {
    margin-top: 10px;
    line-height: 1.4em;
  }
  .fn-service-main .fn-service-dua {
    max-width: 50%;
    width: 50%;
    margin: 0;
  }
  .fn-service-main .fn-service-dua .fn-financial-title {
    font-size: 16px;
    line-height: 1.3em;
  }
  .fn-service-main .fn-service-dua .fn-financial-desc {
    font-size: 14px;
    line-height: 1.2em;
  }
  .fn-service-main .fn-service-tiga {
    max-width: 50%;
    width: 50%;
  }
  .fn-service-main .fn-service-tiga .fn-loan-title {
    font-size: 16px;
    line-height: 1.3em;
  }
  .fn-service-main .fn-service-tiga .fn-loan-desc {
    font-size: 14px;
    line-height: 1.2em;
  }
}
@media screen and (max-width: 578px) {
  .fn-service-main {
    flex-direction: column;
    margin: 0;
  }
  .fn-service-main .fn-service-satu {
    width: 90%;
    max-width: 90%;
    margin-bottom: 20px;
  }
  .fn-service-main .fn-service-satu .fn-servis-title {
    font-size: 25px;
  }
  .fn-service-main .fn-service-dua {
    width: 90%;
    max-width: 90%;
    margin-bottom: 20px;
  }
  .fn-service-main .fn-service-dua .fn-financial-title {
    font-size: 25px;
  }
  .fn-service-main .fn-service-dua .fn-financial-desc {
    line-height: 1.2em;
  }
  .fn-service-main .fn-service-tiga {
    width: 90%;
    max-width: 90%;
  }
  .fn-service-main .fn-service-tiga .fn-loan-title {
    font-size: 25px;
  }
  .fn-service-main .fn-service-tiga .fn-loan-desc {
    line-height: 1.2em;
  }
}

.fn-about-main {
  display: flex;
  margin-top: 150px;
}
.fn-about-main .fn-about-satu {
  width: 24%;
  max-width: 24%;
}
.fn-about-main .fn-about-satu .fn-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.4em;
  color: #2D487C;
}
.fn-about-main .fn-about-dua {
  width: 50%;
  max-width: 50%;
}
.fn-about-main .fn-about-dua .fn-about-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4em;
  color: #000000;
}
.fn-about-main .fn-about-dua .fn-about-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
  color: #4C4C4C;
  margin-top: 30px;
}
.fn-about-main .fn-about-dua .fn-about-btn {
  width: 143px;
  height: 45px;
  background: #E98970;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
  letter-spacing: 1px;
  border: none;
  animation: animasi 2s steps(70, end);
  overflow: hidden;
}
.fn-about-main .fn-about-dua .fn-about-btn:hover {
  background: #fd6039;
}
.fn-about-main .fn-about-tiga {
  width: 35%;
  max-width: 35%;
  margin-left: 23px;
  margin-top: -80px;
}
@media screen and (max-width: 768px) {
  .fn-about-main .fn-about-satu {
    width: 30%;
    max-width: 30%;
    margin: 0;
  }
  .fn-about-main .fn-about-satu .fn-title {
    font-size: 18px;
    color: #2D487C;
  }
  .fn-about-main .fn-about-dua {
    width: 50%;
    max-width: 50%;
  }
  .fn-about-main .fn-about-dua .fn-about-title {
    font-size: 16px;
  }
  .fn-about-main .fn-about-dua .fn-about-desc {
    font-size: 12px;
    margin-top: 12px;
  }
  .fn-about-main .fn-about-dua .fn-about-btn {
    margin-top: 20px;
  }
  .fn-about-main .fn-about-tiga {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }
  .fn-about-main .fn-about-tiga .fn-about-image {
    width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .fn-about-main {
    flex-direction: column;
  }
  .fn-about-main .fn-about-satu {
    width: 100%;
    max-width: 100%;
  }
  .fn-about-main .fn-about-satu .fn-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4em;
    color: #2D487C;
  }
  .fn-about-main .fn-about-dua {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .fn-about-main .fn-about-dua .fn-about-title {
    font-size: 18px;
    margin-top: 5px;
  }
  .fn-about-main .fn-about-dua .fn-about-desc {
    font-size: 16px;
  }
  .fn-about-main .fn-about-tiga {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }
  .fn-about-main .fn-about-tiga .fn-about-image {
    width: 100%;
  }
}

.fn-choose-main {
  width: 50%;
  margin-top: 80px;
}
.fn-choose-main .fn-choose-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  color: #2D487C;
}
.fn-choose-main .fn-choose-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #4C4C4C;
  margin-top: 25px;
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .fn-choose-main {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .fn-choose-main {
    width: 100%;
    max-width: 100%;
  }
  .fn-choose-main .fn-choose-desc {
    font-size: 14px;
  }
}

.fn-quality-main {
  display: flex;
  margin-top: 80px;
}
.fn-quality-main .fn-quality-satu {
  width: 33%;
  max-width: 33%;
  height: 339px;
  background: #2D487C;
  border-radius: 26px;
  padding: 50px;
  box-sizing: border-box;
}
.fn-quality-main .fn-quality-satu:hover {
  background: #0940a7;
}
.fn-quality-main .fn-quality-satu .fn-title-satu {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.fn-quality-main .fn-quality-satu .fn-desc-satu {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-top: 35px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 300;
}
.fn-quality-main .fn-quality-dua {
  width: 33%;
  max-width: 33%;
  height: 339px;
  padding: 50px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 26px;
  margin: 0 15px;
}
.fn-quality-main .fn-quality-dua:hover {
  background: #F7F6F6;
}
.fn-quality-main .fn-quality-dua .fn-title-dua {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.fn-quality-main .fn-quality-dua .fn-desc-dua {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: 35px;
  color: #000000;
}
.fn-quality-main .fn-quality-tiga {
  width: 33%;
  max-width: 33%;
  height: 339px;
  padding: 50px;
  box-sizing: border-box;
  background: #F7F6F6;
  border-radius: 26px;
}
.fn-quality-main .fn-quality-tiga:hover {
  background: #757474;
}
.fn-quality-main .fn-quality-tiga .fn-title-tiga {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.fn-quality-main .fn-quality-tiga .fn-title-tiga:hover {
  color: #E5E5E5;
}
.fn-quality-main .fn-quality-tiga .fn-desc-tiga {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: 35px;
  color: #000000;
}
.fn-quality-main .fn-quality-tiga .fn-desc-tiga:hover {
  color: #E5E5E5;
}
@media screen and (max-width: 768px) {
  .fn-quality-main .fn-quality-satu {
    width: 33%;
    max-width: 33%;
    height: 339px;
  }
  .fn-quality-main .fn-quality-satu .fn-title-satu {
    font-size: 14px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-satu .fn-desc-satu {
    margin-top: 35px;
    font-size: 12px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-dua {
    width: 33%;
    max-width: 33%;
    height: 339px;
  }
  .fn-quality-main .fn-quality-dua .fn-title-dua {
    font-size: 14px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-dua .fn-desc-dua {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-tiga {
    width: 33%;
    max-width: 33%;
    height: 339px;
  }
  .fn-quality-main .fn-quality-tiga .fn-title-tiga {
    font-size: 14px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-tiga .fn-desc-tiga {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3em;
  }
}
@media screen and (max-width: 578px) {
  .fn-quality-main {
    flex-direction: column;
  }
  .fn-quality-main .fn-quality-satu {
    width: 90%;
    max-width: 90%;
    height: 60%;
    margin-bottom: 12px;
  }
  .fn-quality-main .fn-quality-satu .fn-title-satu {
    font-size: 20px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-satu .fn-desc-satu {
    margin-top: 35px;
    font-size: 14px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-dua {
    width: 90%;
    max-width: 90%;
    margin: 0;
    height: 60%;
    margin-bottom: 12px;
  }
  .fn-quality-main .fn-quality-dua .fn-title-dua {
    font-size: 20px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-dua .fn-desc-dua {
    font-size: 14px;
    line-height: 1.3em;
    margin-top: 35px;
  }
  .fn-quality-main .fn-quality-tiga {
    width: 90%;
    max-width: 90%;
    height: 60%;
  }
  .fn-quality-main .fn-quality-tiga .fn-title-tiga {
    font-size: 20px;
    line-height: 1.3em;
  }
  .fn-quality-main .fn-quality-tiga .fn-desc-tiga {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3em;
    margin-top: 35px;
  }
}

.fn-mision-main {
  display: flex;
  height: 265px;
  background: #F7F6F6;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.fn-mision-main .fn-mision-satu {
  padding: 20px;
  box-sizing: border-box;
}
.fn-mision-main .fn-mision-satu .fn-title-satu {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #FAB123;
}
.fn-mision-main .fn-mision-satu .fn-desc-satu {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #4C4C4C;
}
.fn-mision-main .fn-mision-dua .fn-title-dua {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #FAB123;
}
.fn-mision-main .fn-mision-dua .fn-desc-dua {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #4C4C4C;
}
.fn-mision-main .fn-mision-tiga .fn-title-tiga {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #FAB123;
}
.fn-mision-main .fn-mision-tiga .fn-desc-tiga {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #4C4C4C;
}
.fn-mision-main .fn-mision-empat {
  padding: 20px;
  box-sizing: border-box;
}
.fn-mision-main .fn-mision-empat .fn-title-empat {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #FAB123;
}
.fn-mision-main .fn-mision-empat .fn-desc-empat {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #4C4C4C;
}
@media screen and (max-width: 768px) {
  .fn-mision-main .fn-mision-satu {
    width: 20%;
    max-width: 20%;
    padding: 20px;
    box-sizing: border-box;
  }
  .fn-mision-main .fn-mision-satu .fn-title-satu {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-satu .fn-desc-satu {
    font-size: 18px;
    line-height: 36px;
  }
  .fn-mision-main .fn-mision-dua {
    width: 20%;
    max-width: 20%;
  }
  .fn-mision-main .fn-mision-dua .fn-title-dua {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-dua .fn-desc-dua {
    font-size: 18px;
    line-height: 36px;
  }
  .fn-mision-main .fn-mision-tiga {
    width: 20%;
    max-width: 20%;
  }
  .fn-mision-main .fn-mision-tiga .fn-title-tiga {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-tiga .fn-desc-tiga {
    font-size: 18px;
    line-height: 36px;
  }
  .fn-mision-main .fn-mision-empat {
    width: 20%;
    max-width: 20%;
    padding: 20px;
    box-sizing: border-box;
  }
  .fn-mision-main .fn-mision-empat .fn-title-empat {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-empat .fn-desc-empat {
    font-size: 18px;
    line-height: 36px;
  }
}
@media screen and (max-width: 578px) {
  .fn-mision-main {
    flex-direction: column;
    height: 430px;
  }
  .fn-mision-main .fn-mision-satu {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .fn-mision-main .fn-mision-satu .fn-title-satu {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-satu .fn-desc-satu {
    font-size: 18px;
    line-height: 36px;
  }
  .fn-mision-main .fn-mision-dua {
    width: 100%;
    max-width: 100%;
  }
  .fn-mision-main .fn-mision-dua .fn-title-dua {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-dua .fn-desc-dua {
    font-size: 18px;
    line-height: 36px;
  }
  .fn-mision-main .fn-mision-tiga {
    width: 100%;
    max-width: 100%;
  }
  .fn-mision-main .fn-mision-tiga .fn-title-tiga {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-tiga .fn-desc-tiga {
    font-size: 18px;
    line-height: 36px;
  }
  .fn-mision-main .fn-mision-empat {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .fn-mision-main .fn-mision-empat .fn-title-empat {
    font-size: 40px;
  }
  .fn-mision-main .fn-mision-empat .fn-desc-empat {
    font-size: 18px;
    line-height: 36px;
  }
}

.fn-testi-main {
  margin-top: 100px;
  width: 35%;
  max-width: 35%;
  animation: animasi 2s steps(70, end);
  overflow: hidden;
}
.fn-testi-main .fn-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #2D487C;
}

.fn-testimony-main {
  display: flex;
  margin-top: 100px;
}
.fn-testimony-main .fn-testimony-satu {
  width: 60%;
  max-width: 60%;
  height: 395px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}
.fn-testimony-main .fn-testimony-satu .fn-testi-satu {
  width: 535px;
  height: 280px;
  padding: 50px;
  animation: animasi 3s steps(70, end);
  overflow: hidden;
}
.fn-testimony-main .fn-testimony-satu .fn-desc-testi1 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  animation: animasi 1s steps(70, end);
  overflow: hidden;
}
.fn-testimony-main .fn-testimony-satu .fn-desc-testi1:hover {
  color: #2D487C;
  transition: 2s;
}
@keyframes animasi {
  from {
    width: 0px;
  }
}
.fn-testimony-main .fn-testimony-satu .border {
  position: absolute;
  margin-top: 20px;
  width: 94px;
  height: 94px;
  background: #C4C4C4;
  border-radius: 50% 50% 50% 50%;
  margin-left: 120px;
}
.fn-testimony-main .fn-testimony-satu .border:hover {
  background: #2D487C;
  transition: 2s;
  transform: rotateY(360deg);
}
.fn-testimony-main .fn-testimony-satu .mony {
  position: absolute;
  margin-left: 230px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #2D487C;
}
.fn-testimony-main #pembungkus {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  margin-left: 250px;
}
.fn-testimony-main #pembungkus #span {
  width: 15px;
  height: 15px;
  background: #2D487C;
  border-radius: 50% 50% 50% 50%;
  margin-top: -30px;
  margin-left: 12px;
}
.fn-testimony-main #pembungkus #span:hover {
  background: #29303b;
  transition: 2s;
  transform: rotateY(360deg);
}
.fn-testimony-main #pembungkus #span1 {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50% 50% 50% 50%;
  margin-top: -30px;
  margin-left: 12px;
}
.fn-testimony-main #pembungkus #span1:hover {
  background: #29303b;
  transition: 2s;
  transform: rotateY(360deg);
}
.fn-testimony-main #pembungkus #span2 {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50% 50% 50% 50%;
  margin-top: -30px;
  margin-left: 12px;
}
.fn-testimony-main #pembungkus #span2:hover {
  background: #354f80;
  transition: 2s;
  transform: rotateY(360deg);
}
.fn-testimony-main .fn-testimony-dua {
  width: 50%;
  max-width: 50%;
}
.fn-testimony-main .fn-testimony-dua .fn-testi-dua {
  position: absolute;
  width: 400px;
  height: 395px;
  margin-top: 80px;
  margin-left: 20px;
}
.fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-title-testi2 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #4C4C4C;
  text-align: center;
}
.fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-title-testi3 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #2D487C;
}
.fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-desc-testi2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
.fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-testi-btn {
  width: 143px;
  height: 45px;
  background: #2D487C;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
  letter-spacing: 1px;
  border: none;
  margin-left: 130px;
  animation: animasi 2s steps(70, end);
  overflow: hidden;
}
.fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-testi-btn:hover {
  background: #073fa8;
}
.fn-testimony-main .fn-testimony-dua .hero-image-testi {
  margin-left: 140px;
  margin-top: -150px;
}
@media screen and (max-width: 768px) {
  .fn-testimony-main .fn-testimony-satu {
    width: 60%;
    max-width: 60%;
  }
  .fn-testimony-main .fn-testimony-satu .fn-testi-satu {
    width: 300px;
    height: 250px;
  }
  .fn-testimony-main .fn-testimony-satu .fn-desc-testi1 {
    font-size: 18px;
    line-height: 1.4em;
  }
  .fn-testimony-main .fn-testimony-satu .border {
    margin-top: 20px;
    width: 70px;
    height: 70px;
    margin-left: 40px;
  }
  .fn-testimony-main .fn-testimony-satu .mony {
    margin-left: 130px;
    margin-top: 40px;
    font-size: 20px;
  }
  .fn-testimony-main #pembungkus {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
  }
  .fn-testimony-main #pembungkus #span {
    width: 15px;
    height: 15px;
    background: #2D487C;
    border-radius: 50% 50% 50% 50%;
    margin-top: -30px;
    margin-left: -90px;
  }
  .fn-testimony-main #pembungkus #span1 {
    width: 15px;
    height: 15px;
    background: #C4C4C4;
    border-radius: 50% 50% 50% 50%;
    margin-top: -30px;
    margin-left: 12px;
  }
  .fn-testimony-main #pembungkus #span2 {
    width: 15px;
    height: 15px;
    background: #C4C4C4;
    border-radius: 50% 50% 50% 50%;
    margin-top: -30px;
    margin-left: 12px;
  }
  .fn-testimony-main .fn-testimony-dua {
    width: 50%;
    max-width: 50%;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua {
    position: absolute;
    width: 178px;
    margin-top: 170px;
    margin-left: 10px;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-title-testi2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4em;
    color: #4C4C4C;
    text-align: center;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-title-testi3 {
    font-size: 20px;
    line-height: 1.4em;
    color: #2D487C;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-desc-testi2 {
    font-size: 12px;
    line-height: 1.3em;
    margin-top: 20px;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-testi-btn {
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-left: 0;
    margin-left: 40px;
    font-size: 12px;
    line-height: 30px;
  }
  .fn-testimony-main .fn-testimony-dua .hero-image-testi {
    margin-left: 20px;
    margin-left: -20px;
  }
  .fn-testimony-main .fn-testimony-dua .hero-image-testi .image-testi {
    width: 100%;
    margin-top: 150px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 578px) {
  .fn-testimony-main {
    flex-direction: column;
  }
  .fn-testimony-main .fn-testimony-satu {
    width: 100%;
    max-width: 100%;
  }
  .fn-testimony-main .fn-testimony-satu .fn-testi-satu {
    width: 400px;
    height: 250px;
    padding: 50px;
  }
  .fn-testimony-main .fn-testimony-satu .fn-desc-testi1 {
    font-size: 18px;
    line-height: 1.4em;
    font-size: 22px;
  }
  .fn-testimony-main .fn-testimony-satu .border {
    margin-top: 20px;
    width: 85px;
    height: 85px;
    margin-left: 60px;
  }
  .fn-testimony-main .fn-testimony-satu .mony {
    margin-left: 175px;
    margin-top: 50px;
    font-size: 20px;
  }
  .fn-testimony-main #pembungkus {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    margin-top: 30px;
  }
  .fn-testimony-main #pembungkus #span {
    width: 15px;
    height: 15px;
    background: #2D487C;
    border-radius: 50% 50% 50% 50%;
    margin-top: -30px;
    margin-left: -90px;
  }
  .fn-testimony-main #pembungkus #span1 {
    width: 15px;
    height: 15px;
    background: #C4C4C4;
    border-radius: 50% 50% 50% 50%;
    margin-top: -30px;
    margin-left: 12px;
  }
  .fn-testimony-main #pembungkus #span2 {
    width: 15px;
    height: 15px;
    background: #C4C4C4;
    border-radius: 50% 50% 50% 50%;
    margin-top: -30px;
    margin-left: 12px;
  }
  .fn-testimony-main .fn-testimony-dua {
    width: 100%;
    max-width: 100%;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua {
    position: absolute;
    width: 400px;
    height: 395px;
    margin-top: 290px;
    margin-left: -53px;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-title-testi2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.4em;
    color: #4C4C4C;
    text-align: center;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-title-testi3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    color: #2D487C;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-desc-testi2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
  }
  .fn-testimony-main .fn-testimony-dua .fn-testi-dua .fn-testi-btn {
    width: 143px;
    height: 45px;
    background: #2D487C;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
    letter-spacing: 1px;
    border: none;
    margin-left: 130px;
  }
  .fn-testimony-main .fn-testimony-dua .hero-image-testi {
    margin-left: 20px;
    margin-left: -20px;
  }
  .fn-testimony-main .fn-testimony-dua .hero-image-testi .image-testi {
    width: 100%;
    margin-top: 150px;
  }
}

.fn-footer-main {
  display: flex;
  margin-top: 100px;
  height: 405px;
  background: #F7F6F6;
  align-items: center;
  justify-content: space-between;
}
.fn-footer-main .fn-footer-satu {
  width: 33%;
  max-width: 33%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: -70px;
}
.fn-footer-main .fn-footer-satu .fn-footer-title {
  margin-top: 110px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.fn-footer-main .fn-footer-dua {
  width: 20%;
  max-width: 20%;
  margin-top: 100px;
}
.fn-footer-main .fn-footer-dua .fn-footer-foot {
  list-style: none;
}
.fn-footer-main .fn-footer-dua .fn-footer-foot {
  margin-left: 70px;
}
.fn-footer-main .fn-footer-dua a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #1a1414;
}
.fn-footer-main .fn-footer-tiga {
  width: 45%;
  max-width: 45%;
  margin-top: 70px;
  padding: 20px;
  box-sizing: border-box;
}
.fn-footer-main .fn-footer-tiga .fn-title-footer {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 80px;
  color: #000000;
}
.fn-footer-main .fn-footer-tiga .fn-desc-footer {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #4C4C4C;
}
.fn-footer-main .fn-footer-tiga .fn-icon-retagle {
  width: 320px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 10px 0px 0px 10px;
  margin-top: 0px;
  text-align: center;
  color: #f5efef;
  margin-top: 20px;
}
.fn-footer-main .fn-footer-tiga .retagle {
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.fn-footer-main .fn-footer-tiga .retagle1 {
  display: block;
  font-family: "Poppins", sans-serif;
  width: 128px;
  height: 45px;
  background: #2D487C;
  border-radius: 0px 10px 10px 0px;
  margin-top: -50px;
  margin-left: 320px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  border: none;
  color: white;
  animation: animasi 2s steps(70, end);
  overflow: hidden;
}
.fn-footer-main .fn-footer-tiga .retagle1:hover {
  background: #103475;
}
.fn-footer-main .fn-footer-tiga .retagle1 .fn-desc-foot {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .fn-footer-main .fn-footer-satu {
    width: 33%;
    max-width: 33%;
    margin-top: 0px;
  }
  .fn-footer-main .fn-footer-satu .fn-footer-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
  .fn-footer-main .fn-footer-dua {
    width: 20%;
    max-width: 20%;
    margin-top: 120px;
  }
  .fn-footer-main .fn-footer-dua .fn-footer-foot {
    list-style: none;
  }
  .fn-footer-main .fn-footer-dua .fn-footer-foot {
    margin-left: 40px;
  }
  .fn-footer-main .fn-footer-dua a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8em;
    color: #1a1414;
  }
  .fn-footer-main .fn-footer-tiga {
    width: 45%;
    max-width: 45%;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
  }
  .fn-footer-main .fn-footer-tiga .fn-title-footer {
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 80px;
    color: #000000;
  }
  .fn-footer-main .fn-footer-tiga .fn-desc-footer {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4C4C4C;
  }
  .fn-footer-main .fn-footer-tiga .fn-icon-retagle {
    width: 180px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
    margin-top: 0px;
    text-align: center;
    color: #f5efef;
    margin-top: 20px;
  }
  .fn-footer-main .fn-footer-tiga .retagle {
    line-height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
  .fn-footer-main .fn-footer-tiga .retagle1 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    width: 100px;
    height: 45px;
    background: #2D487C;
    border-radius: 0px 10px 10px 0px;
    margin-top: -50px;
    margin-left: 180px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
  .fn-footer-main .fn-footer-tiga .retagle1 .fn-desc-foot {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
}
@media screen and (max-width: 578px) {
  .fn-footer-main {
    flex-direction: column;
    height: 900px;
  }
  .fn-footer-main .fn-footer-satu {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
  }
  .fn-footer-main .fn-footer-satu .fn-footer-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .fn-footer-main .fn-footer-dua {
    width: 20%;
    max-width: 20%;
    margin-top: -90px;
  }
  .fn-footer-main .fn-footer-dua .fn-footer-foot {
    list-style: none;
  }
  .fn-footer-main .fn-footer-dua .fn-footer-foot {
    margin-left: 0px;
  }
  .fn-footer-main .fn-footer-dua a {
    font-weight: 400;
    font-size: 16px;
    line-height: 4em;
    color: #1a1414;
  }
  .fn-footer-main .fn-footer-tiga {
    width: 100%;
    max-width: 100%;
    margin-top: -140px;
    padding: 20px;
    box-sizing: border-box;
  }
  .fn-footer-main .fn-footer-tiga .fn-title-footer {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 80px;
    color: #000000;
  }
  .fn-footer-main .fn-footer-tiga .fn-desc-footer {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #4C4C4C;
  }
  .fn-footer-main .fn-footer-tiga .fn-icon-retagle {
    width: 320px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
    margin-top: 0px;
    text-align: center;
    color: #f5efef;
    margin-top: 20px;
  }
  .fn-footer-main .fn-footer-tiga .retagle {
    line-height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
  .fn-footer-main .fn-footer-tiga .retagle1 {
    font-family: "Poppins", sans-serif;
    width: 128px;
    height: 45px;
    background: #2D487C;
    border-radius: 0px 10px 10px 0px;
    margin-top: -50px;
    margin-left: 310px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
  .fn-footer-main .fn-footer-tiga .retagle1 .fn-desc-foot {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
}

.rootlayers {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 20px;
  box-sizing: border-box;
  background: #F7F6F6;
}

.garis-biru {
  width: 1140px;
  background: #2D487C;
  height: 13px;
  animation: animasi 7s steps(70, end);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .garis-biru {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
